In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

## Dwi Ageng Rohmatullah
## 2009106005
## A1-20

In [2]:
data = pd.read_csv('ford.csv')
data.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [3]:
data.shape

(17966, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17966 non-null  object
 1   year          17966 non-null  int64
 2   price         17966 non-null  int64
 3   transmission  17966 non-null  object
 4   mileage       17966 non-null  int64
 5   fuelType      17966 non-null  object
 6   tax           17966 non-null  int64
 7   mpg           17965 non-null  float64
 8   engineSize    17966 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB

## Data Cleaning untuk Data Duplikasi

In [5]:
data.duplicated().sum()

154

In [6]:
data.drop_duplicates(inplace=True)

In [7]:
data.duplicated().sum()

0

## Data Cleaning untuk data null dengan mengisi data null menggunakan nilai mean

In [8]:
data.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             1
engineSize      0
dtype: int64

In [9]:
data = data.fillna(data.mean())

C:\Users\Sezzan\AppData\Local\Temp\ipykernel_19748\476127175.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data = data.fillna(data.mean())

In [10]:
data.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

## training set dan testing set dengan proporsi 70:30

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

data['transmission']= le.fit_transform(data['transmission'])

In [13]:
data.head(5)

     model  year  price  transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000             0    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000             1     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000             1    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500             1    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500             0     1482   Petrol  145  48.7         1.0

In [14]:
from sklearn.model_selection import train_test_split

# Subset feature dan target
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [16]:
print("Dimensi X_train:", x_train.shape)
print("Dimensi X_Test:", x_test.shape)

Dimensi X_train: (12468, 8)
Dimensi X_Test: (5344, 8)

In [17]:
print("Dimensi y_train:", y_train.shape)
print("Dimensi y_test:", y_test.shape)

Dimensi y_train: (12468,)
Dimensi y_test: (5344,)

## Normalisasi data menggunakan MinMaxScaler

In [18]:
datacopy1 = pd.read_csv('ford.csv')

In [19]:
print("Nilai Data Sebelum scaling  : ")
print(data[['mileage', 'tax', 'mpg']])

Nilai Data Sebelum scaling  :
       mileage  tax   mpg
0        15944  150  57.7
1         9083  150  57.7
2        12456  150  57.7
3        10460  145  40.3
4         1482  145  48.7
...        ...  ...   ...
17961    16700  150  47.1
17962    40700   30  57.7
17963     7010   20  67.3
17964     5007  145  57.7
17965     5007   22  57.7

[17812 rows x 3 columns]

In [20]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

In [21]:
x_scale = mms.fit_transform(
    data[['mileage', 'tax', 'mpg']]
)

In [22]:
normalisasi_data = pd.DataFrame(x_scale)
normalisasi_data.head()

          0         1         2
0  0.089747  0.258621  0.203867
1  0.051125  0.258621  0.203867
2  0.070113  0.258621  0.203867
3  0.058877  0.250000  0.107735
4  0.008337  0.250000  0.154144

## Standardisasi data menggunakan StandardScaler

In [23]:
datacopy2 = pd.read_csv('ford.csv')

In [24]:
print("Nilai Data Sebelum scaling  : ")
print(data[['mileage', 'tax', 'mpg', 'price']])

Nilai Data Sebelum scaling  :
       mileage  tax   mpg  price
0        15944  150  57.7  12000
1         9083  150  57.7  14000
2        12456  150  57.7  13000
3        10460  145  40.3  17500
4         1482  145  48.7  16500
...        ...  ...   ...    ...
17961    16700  150  47.1   8999
17962    40700   30  57.7   7499
17963     7010   20  67.3   9999
17964     5007  145  57.7   8299
17965     5007   22  57.7   8299

[17812 rows x 4 columns]

In [25]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

In [26]:
x_scale2 = ss.fit_transform(
    data[['mileage', 'tax', 'mpg', 'price']]
)

In [27]:
standarisasi_data = pd.DataFrame(x_scale2)
standarisasi_data.head()

          0         1         2         3
0 -0.382994  0.591380 -0.020585 -0.056915
1 -0.736317  0.591380 -0.020585  0.365369
2 -0.562616  0.591380 -0.020585  0.154227
3 -0.665405  0.510777 -1.737848  1.104366
4 -1.127749  0.510777 -0.908825  0.893224

## Menganti tipe data salah satu attribute angka

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

oren = OrdinalEncoder()

In [ ]:
data.head(10)

In [ ]:
data['tax'] = oren.fit_transform(data[['tax']])
data['fuelType_Encoder'] = oren.fit_transform(data[['fuelType']])
data.head(10)

## Menerapkan OneHotEncoding kedalam dataset

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse = False)

In [ ]:
year_encoded = ohe.fit_transform(data[["year"]])

In [ ]:
OHE = pd.DataFrame(year_encoded)

In [ ]:
data = data.join(OHE)
data.head(10)