# Posttest 2 Kecerdasan Buatan

In [8]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("Airbnb_Open_Data.csv", low_memory=False)
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

Ketentuan 1 Informasi dari dataset

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [20]:
df['id'].value_counts()

6044940     2
6067584     2
6077525     2
6076973     2
6076421     2
           ..
19804390    1
19803837    1
19803285    1
19802733    1
57367417    1
Name: id, Length: 102058, dtype: int64

In [21]:
df['NAME'].value_counts()

Home away from home                               33
Hillside Hotel                                    30
Water View King Bed Hotel Room                    30
New york Multi-unit building                      27
Brooklyn Apartment                                27
                                                  ..
♂ ♀ Sunny Bedroom in Popular Brooklyn              1
♂ ♀ Large Room Close to Express Subway + Bus       1
Clean room in Soho/Nolita                          1
♂ ♀ Large Sunny Bedroom Walk to Express Subway     1
Parisian Style Apartment in Heart of Brooklyn      1
Name: NAME, Length: 61281, dtype: int64

In [33]:
df['host id'].value_counts()

38729751923    2
3895711649     2
43698780331    2
83121548580    2
95831271296    2
              ..
18961598806    1
32422869247    1
32863385446    1
6167807449     1
93578954226    1
Name: host id, Length: 102057, dtype: int64

In [23]:
df['host_identity_verified'].value_counts()

unconfirmed    51200
verified       51110
Name: host_identity_verified, dtype: int64

In [30]:
df['host name'].value_counts()

Michael              881
David                764
John                 581
Alex                 546
Sonder (NYC)         516
                    ...
Carly & Sebastian      1
Soph                   1
Anshu                  1
Hayet                  1
Shuhel                 1
Name: host name, Length: 13190, dtype: int64

In [34]:
df['neighbourhood group'].value_counts()

Manhattan        43792
Brooklyn         41842
Queens           13267
Bronx             2712
Staten Island      955
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64

In [35]:
df['neighbourhood'].value_counts()

Bedford-Stuyvesant        7937
Williamsburg              7775
Harlem                    5466
Bushwick                  4982
Hell's Kitchen            3965
                          ...
Rossville                    3
Lighthouse Hill              3
Fort Wadsworth               2
Glen Oaks                    2
Chelsea, Staten Island       1
Name: neighbourhood, Length: 224, dtype: int64

In [36]:
df['lat'].value_counts()

40.76411    36
40.71813    32
40.76125    28
40.73756    27
40.72440    25
            ..
40.57718     1
40.66649     1
40.62918     1
40.62845     1
40.84753     1
Name: lat, Length: 21991, dtype: int64

In [37]:
df['long'].value_counts()

-73.99371    44
-73.95350    40
-73.95427    37
-73.94791    37
-73.95677    34
             ..
-73.96689     1
-73.77429     1
-73.84923     1
-73.88443     1
-73.89887     1
Name: long, Length: 17774, dtype: int64

In [38]:
df['country'].value_counts()

United States    102067
Name: country, dtype: int64

In [39]:
df['country code'].value_counts()

US    102468
Name: country code, dtype: int64

In [40]:
df['instant_bookable'].value_counts()

False    51474
True     51020
Name: instant_bookable, dtype: int64

In [41]:
df['cancellation_policy'].value_counts()

moderate    34343
strict      34106
flexible    34074
Name: cancellation_policy, dtype: int64

In [42]:
df['room type'].value_counts()

Entire home/apt    53701
Private room       46556
Shared room         2226
Hotel room           116
Name: room type, dtype: int64

In [43]:
df['Construction year'].value_counts()

2014.0    5243
2008.0    5225
2006.0    5223
2019.0    5201
2009.0    5166
2020.0    5158
2010.0    5155
2022.0    5134
2005.0    5132
2012.0    5131
2003.0    5125
2007.0    5106
2015.0    5094
2017.0    5066
2011.0    5058
2018.0    5057
2021.0    5039
2004.0    5037
2013.0    5018
2016.0    5017
Name: Construction year, dtype: int64

In [44]:
df['price'].value_counts()

$206       137
$1,056     132
$481       129
$833       128
$573       127
          ...
$369        58
$923        57
$786        54
$89         53
$187        52
Name: price, Length: 1151, dtype: int64

In [45]:
df['service fee'].value_counts()

$41      526
$216     524
$81      519
$177     518
$57      513
        ...
$73      386
$58      384
$67      381
$10      267
$240     248
Name: service fee, Length: 231, dtype: int64

In [46]:
df['minimum nights'].value_counts()

 1.0      25421
 2.0      23604
 3.0      16113
 30.0     11653
 4.0       6625
          ...
-3.0          1
 273.0        1
 175.0        1
 98.0         1
 825.0        1
Name: minimum nights, Length: 153, dtype: int64

In [47]:
df['number of reviews'].value_counts()

0.0      15734
1.0      10408
2.0       7175
3.0       5375
4.0       4151
         ...
567.0        1
592.0        1
797.0        1
966.0        1
300.0        1
Name: number of reviews, Length: 476, dtype: int64

In [48]:
df['last review'].value_counts()

6/23/2019     2443
6/30/2019     2232
7/1/2019      2218
6/24/2019     1510
7/7/2019      1151
              ...
3/14/2015        1
4/24/2015        1
6/14/2014        1
2/21/2015        1
10/27/2014       1
Name: last review, Length: 2477, dtype: int64

In [49]:
df['reviews per month'].value_counts()

0.03     1666
0.05     1490
1.00     1455
0.04     1270
0.09     1269
         ...
9.10        1
10.36       1
8.50        1
15.32       1
33.08       1
Name: reviews per month, Length: 1016, dtype: int64

In [50]:
df['review rate number'].value_counts()

5.0    23369
4.0    23329
3.0    23265
2.0    23098
1.0     9212
Name: review rate number, dtype: int64

In [51]:
df['calculated host listings count'].value_counts()

1.0     63429
2.0     14445
3.0      6577
4.0      3552
5.0      1995
        ...
86.0       21
22.0       20
55.0       15
46.0        9
80.0        7
Name: calculated host listings count, Length: 78, dtype: int64

In [52]:
df['availability 365'].value_counts()

 0.0       23544
 365.0      2500
 364.0      1168
 89.0        751
 1.0         734
           ...
 375.0        33
-6.0          32
 401.0        30
 391.0        30
 3677.0        1
Name: availability 365, Length: 438, dtype: int64

In [53]:
df['house_rules'].value_counts()

#NAME?                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2712
House Rules 1. Check-in is 4 pm local time. If the unit is ready earlier, we’ll let you know. Check-out is normally 11 am local time, but we’d be happy to extend it as long as we don’t have a cleaning scheduled. Just let us know.  2. All bookings require a security deposit of at least $300, which will be refunded within 7 days of your check-out. 3. For security measures we require all guests to provide proof of identification through ID verification on our own website. In order to check in we'll need a photo of your ID.  4. Our cancellation policy is as shown on our ad and defined by the site you are booking through.  5. Don’t let $300 go up in smoke. There's no smoking allowed in any Flatbook and a $300 fine for breaking this rule.  6. Unfortunately we don’t allow pets in any of our apartments. 7. Unless you’re staying in one of our specialty apartments, we don’t allow parties or excessive noise. 8. If we find the place very messy, we have to charge an extra $40 for every extra hour o     904
Please remember that this is a residential building. The building rules, apartment occupancy restrictions and the year-round tenants must be respected.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      881
No Smoking No Pets                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           814
Please remember that this is a residential building. The building rules, apartment occupancy restrictions and the year-round tenants must be respected.  Parties, pets and smoking are not allowed under any circumstances and incur significant fees.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       552
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
5 nights minimum stay, no smoking or pets.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
4 nights minimum stay No pets at any time No smoking Please be mindful of the furniture and personal belongings, it was all furnished with designer pieces and hard to replace things.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
- Quiet time after 13                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
7 star treatment is given and expected.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
16 nights minimum stay, no smoking or pets.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Name: house_rules, Length: 1976, dtype: int64

In [54]:
df['license'].value_counts()

41662/AL    2
Name: license, dtype: int64

Ketentuan 2 Dictionary

In [100]:
dictionary = {'NAME':"Home Sweet Home, Brooklyn Apartment, Hillside Hotel, Water View King Bed Hotel Room, New york Multi-unit building", 
              
              'country':"United States, United States, United States, United States, United States", 
              
              'price':"$50, $40, $45, $35, $60", 
              
              'room type':"General, Private, Private, General, General", 
              
              'neighboorhood':"Harlem, Rossville, Lighthouse Hill, Fort Wadsworth, Glen Oaks" }

In [101]:
dictionary

{'NAME': 'Home Sweet Home, Brooklyn Apartment, Hillside Hotel, Water View King Bed Hotel Room, New york Multi-unit building',
 'country': 'United States, United States, United States, United States, United States',
 'price': '$50, $40, $45, $35, $60',
 'room type': 'General, Private, Private, General, General',
 'neighboorhood': 'Harlem, Rossville, Lighthouse Hill, Fort Wadsworth, Glen Oaks'}

Ketentuan 3 Rata-rata, dll

In [105]:
df['id'].describe()

count    1.025990e+05
mean     2.914623e+07
std      1.625751e+07
min      1.001254e+06
25%      1.508581e+07
50%      2.913660e+07
75%      4.320120e+07
max      5.736742e+07
Name: id, dtype: float64

In [106]:
df['host id'].describe()

count    1.025990e+05
mean     4.925411e+10
std      2.853900e+10
min      1.236005e+08
25%      2.458333e+10
50%      4.911774e+10
75%      7.399650e+10
max      9.876313e+10
Name: host id, dtype: float64

In [107]:
df['lat'].describe()

count    102591.000000
mean         40.728094
std           0.055857
min          40.499790
25%          40.688740
50%          40.722290
75%          40.762760
max          40.916970
Name: lat, dtype: float64

In [108]:
df['long'].describe()

count    102591.000000
mean        -73.949644
std           0.049521
min         -74.249840
25%         -73.982580
50%         -73.954440
75%         -73.932350
max         -73.705220
Name: long, dtype: float64

In [109]:
df['Construction year'].describe()

count    102385.000000
mean       2012.487464
std           5.765556
min        2003.000000
25%        2007.000000
50%        2012.000000
75%        2017.000000
max        2022.000000
Name: Construction year, dtype: float64

In [110]:
df['minimum nights'].describe()

count    102190.000000
mean          8.135845
std          30.553781
min       -1223.000000
25%           2.000000
50%           3.000000
75%           5.000000
max        5645.000000
Name: minimum nights, dtype: float64

In [111]:
df['number of reviews'].describe()

count    102416.000000
mean         27.483743
std          49.508954
min           0.000000
25%           1.000000
50%           7.000000
75%          30.000000
max        1024.000000
Name: number of reviews, dtype: float64

In [116]:
df['reviews per month'].describe()

count    86720.000000
mean         1.374022
std          1.746621
min          0.010000
25%          0.220000
50%          0.740000
75%          2.000000
max         90.000000
Name: reviews per month, dtype: float64

In [113]:
df['review rate number'].describe()

count    102273.000000
mean          3.279106
std           1.284657
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: review rate number, dtype: float64

In [115]:
df['calculated host listings count'].describe()

count    102280.000000
mean          7.936605
std          32.218780
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max         332.000000
Name: calculated host listings count, dtype: float64

In [117]:
df['availability 365'].describe()

count    102151.000000
mean        141.133254
std         135.435024
min         -10.000000
25%           3.000000
50%          96.000000
75%         269.000000
max        3677.000000
Name: availability 365, dtype: float64

Ketentuan 4 Korelasi

In [119]:
df.corr()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
id,1.000000,-0.000830,-0.008832,0.042546,0.001081,0.005668,-0.041530,0.038038,0.036633,0.024296,-0.139226
host id,-0.000830,1.000000,0.000661,-0.008999,0.004871,-0.002266,-0.004503,-0.001746,0.003459,0.001722,-0.002044
lat,-0.008832,0.000661,1.000000,0.074348,0.005697,0.014889,-0.025236,-0.019492,-0.003917,0.032468,-0.005011
long,0.042546,-0.008999,0.074348,1.000000,0.000861,-0.039639,0.069169,0.118598,0.015283,-0.104154,0.058428
Construction year,0.001081,0.004871,0.005697,0.000861,1.000000,-0.000486,0.001990,0.004092,0.004753,-0.002745,-0.008264
minimum nights,0.005668,-0.002266,0.014889,-0.039639,-0.000486,1.000000,-0.049997,-0.096141,-0.002167,0.084846,0.063541
number of reviews,-0.041530,-0.004503,-0.025236,0.069169,0.001990,-0.049997,1.000000,0.590939,-0.018412,-0.080907,0.099368
reviews per month,0.038038,-0.001746,-0.019492,0.118598,0.004092,-0.096141,0.590939,1.000000,0.037526,-0.025621,0.077193
review rate number,0.036633,0.003459,-0.003917,0.015283,0.004753,-0.002167,-0.018412,0.037526,1.000000,0.024273,-0.006217
calculated host listings count,0.024296,0.001722,0.032468,-0.104154,-0.002745,0.084846,-0.080907,-0.025621,0.024273,1.000000,0.159194
availability 365,-0.139226,-0.002044,-0.005011,0.058428,-0.008264,0.063541,0.099368,0.077193,-0.006217,0.159194,1.000000

Ketentuan 5 Merubah nilai angka

In [121]:
df['reviews per month'].value_counts().head(10)

0.03    1666
0.05    1490
1.00    1455
0.04    1270
0.09    1269
0.08    1259
0.16    1258
0.06    1193
0.02    1164
0.11    1141
Name: reviews per month, dtype: int64

In [128]:
df['reviews per month'].value_counts().head(10)/1000

0.03    1.666
0.05    1.490
1.00    1.455
0.04    1.270
0.09    1.269
0.08    1.259
0.16    1.258
0.06    1.193
0.02    1.164
0.11    1.141
Name: reviews per month, dtype: float64

Ketentuan 6 10 data pertama untuk data angka

In [133]:
dfnumber = df.select_dtypes(include=np.number)

In [134]:
dfnumber.head(10)

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
0,1001254,80014485718,40.64749,-73.97237,2020.0,10.0,9.0,0.21,4.0,6.0,286.0
1,1002102,52335172823,40.75362,-73.98377,2007.0,30.0,45.0,0.38,4.0,2.0,228.0
2,1002403,78829239556,40.80902,-73.94190,2005.0,3.0,0.0,NaN,5.0,1.0,352.0
3,1002755,85098326012,40.68514,-73.95976,2005.0,30.0,270.0,4.64,4.0,1.0,322.0
4,1003689,92037596077,40.79851,-73.94399,2009.0,10.0,9.0,0.10,3.0,1.0,289.0
5,1004098,45498551794,40.74767,-73.97500,2013.0,3.0,74.0,0.59,3.0,1.0,374.0
6,1004650,61300605564,40.68688,-73.95596,2015.0,45.0,49.0,0.40,5.0,1.0,224.0
7,1005202,90821839709,40.68688,-73.95596,2009.0,45.0,49.0,0.40,5.0,1.0,219.0
8,1005754,79384379533,40.76489,-73.98493,2005.0,2.0,430.0,3.47,3.0,1.0,180.0
9,1006307,75527839483,40.80178,-73.96723,2015.0,2.0,118.0,0.99,5.0,1.0,375.0

Ketentuan 7 menyimpan dataset kedalam csv

In [135]:
dfnumber.to_csv('dataset_angka.csv', index=False)